body{
  display: block;
  margin: 2%;
  padding: 10%;
  background-color: azure;
  width:80%;
  height:auto;
}

button{
  width:200px;
  height: 50px;
  background-color: powderblue;
  text-align: center;
  padding: 1%;
  margin: 2%;
}

#translation {
  font-size: 60px;
  text-align: center;
  font-family: cursive;
  font-weight: bold;

}

.langButtz {
  position: relative;
  justify-content:center;
  display: -webkit -inline-block;
  margin:0 42% 0% 38%;
  padding: 0 3% 0 1%;
}

hr{
  min-width: 200px;
}
